@media screen and (max-width: 1200px) {
	.procedure__title {
	    padding-top: 3px;
	    padding-left: 12px;
	    font-size: 38px;
	    width: 427px;
	    margin-bottom: 87px;
	}

	.procedure__text_second {
	    margin-left: 12px;
	    font-size: 15px;
	}

	.procedure__text {
	    margin-left: 25px;
	}

	.procedure__circle {
	    bottom: 57px;
    	width: 80%;
    	right: 51px;
    	height: 384px;
	}

	.procedure__woman {
	    margin: 25px auto;
	    width: 48%;
	}

	.procedure__images {
	    padding-top: 200px;
	}
}

@media screen and (max-width: 992px) {
	.procedure__img_wave {
    	width: 18%;
	}

	.procedure-wrap {
	    margin-left: 30px;
	}

	.procedure__img_stick-second {
    	z-index: -3;	
	}

	.procedure__img_stick-third {
    	z-index: -2;	
	}

	.procedure__img_stick {
	    z-index: -1;
	  	left: 20px;    
	}

	.procedure__text {
	    margin-left: 0px;
	    font-size: 16px;
	}

	.procedure__title {
	    padding-top: 3px;
	    padding-left: 12px;
	    font-size: 25px;
	    width: auto;
	    margin-bottom: 25px;  
	}

	.procedure__text {
	    margin-left: 0px;
	    font-size: 16px;   
	}

	.procedure__link {
	    font-size: 21px;
	    padding: 15px 0px;
	    margin-left: 5px;
	}

	.procedure__name {
	    width: 141px;
	    bottom: 12px;
	    font-size: 16px;
	    right: 71px;
	}

	.procedure__specialist {
	    width: 260px;
	    bottom: -34px;
	    right: 71px;
	    font-size: 16px;
	}

	.procedure__woman {
	    margin: 0px auto;
	    width: 215px;
	    display: block;
	}

	.procedure__circle {
	    bottom: 73px;
	    width: 86%;
	    right: 6%;
	    height: 82%;
	}
}

@media screen and (max-width: 860px) {
	.procedure__circle {
	    bottom: 73px;
	    width: 99%;
	    right: 2%;
	    height: 77%;
	}
}

@media screen and (max-width: 768px) {
	.transparent-block {
		display: block;
		position: absolute;
		width: 120px;
		height: 100px;
		background: white;
		bottom: -38px;
		right: 192px;
	}

	.procedure__img_stick-third {
		right: 20px;
	}

	.procedure__img_stick-second {
		display: none;
	}

	.procedure-wrap {
	    padding-top: 20px;
	    margin-left: 0px;
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    padding-left: 15px;
	    padding-right: 15px;
	    align-items: center;
	}

	.procedure__text {
	    margin-left: 0px;
	    font-size: 16px;
	    margin-bottom: 15px;
	    text-align: center;
	}

	.procedure__text_second {
		margin: 0px auto 15px;
		display: block;
		width: 470px;
	}

	.procedure__title {
	    padding-top: 3px;
	    margin-top: 0px;
	    padding-left: 12px;
	    font-size: 26px;
	    width: auto;
	    text-align: center;
	    background:
	    url(../img/small-circ.png)
	    no-repeat top left;
	    margin-bottom: 15px;
	}

	.procedure__link {
	    display: block;
	    text-align: center;
	    margin: 0px auto;
	    width: 260px;
	    padding: 15px 30px;
	    font-size: 26px;
	}


	.procedure__content_img {
	    width: 528px;
	    margin-top: 30px;
	}

	.procedure__circle {
	    bottom: 68px;
	    width: 68%;
	    right: 14%;
	    height: 76%;
	}

	.procedure__woman {
	    width: 170px;  
	    position: relative;
	}

	.procedure__name {
	    width: 141px;
	    bottom: 150px;
	    font-size: 16px;
	    right: 173px;
	}

	.procedure__specialist {
	    width: 260px;
	    bottom: 105px;
	    right: 115px;
	    font-size: 16px;
	}

	.procedure__img_wave-down {
	    position: absolute;
	    bottom: 0px;
	    right: 0px;
	    width: 34%;
	    height: 62%;
	    z-index: 10000;
	}

	.procedure__images svg {
	    width: 140px;
	    position: absolute;
	    bottom: 7px;
	    left: 0px;
	}

	.procedure__images {
	    padding-top: 80px;
	}

	.procedure__content {
	    margin-top: 40px;
	}
}

@media screen and (max-width: 576px) {
	.procedure-wrap {
		padding-left: 20px;
		padding-right: 20px;
	}

	.procedure__content {
		padding-left: 7px;
		padding-right: 7px;
	}

	.procedure__link {
	    width: 246px;
	    padding: 15px 50px;
	}

	.procedure__woman {
    	width: 135px;
    }

	.procedure__content_img {
	    width: 100%;
	    margin-top: 20px;
	}

	.procedure__circle {
	    bottom: 67px;
	    width: 50%;
	    right: 24%;
	    height: 73%;
	    display: block;
	    margin: 0px auto;
	    text-align: center;
	}

	.procedure__title {
	    padding-top: 3px;
	    padding-left: 0px;
	    font-size: 24px;
	    width: 100%;
	    text-align: center;
	    background: none;
	}

	.procedure__text_second {
	    display: block;
	    width: 80%;
	}

	.procedure__name {
		padding: 5px;
	    width: 150px;
	    font-size: 15px;
	    position: static;
	    margin: -145px auto;
	}

	.procedure__specialist {
		font-size: 15px;
		padding: 5px;
	    width: 260px;
	    bottom: -34px;
	    right: 99px;
	    font-size: 16px;
	    position: static;
	    margin: 153px auto;
	}


	.procedure__images {
	    padding-top: 15px;
	}
	
	.procedure__images svg {
	    width: 125px;
	    bottom: 9px;
	}

	.procedure__img_wave-down {
	    position: absolute;
	    bottom: 0px;
	    right: 0px;
	    width: 29%;
	    height: 70px;
	    z-index: 10000;
	}
}

@media screen and (max-width: 430) {
	.procedure__circle {
	    bottom: 68px;
	    width: 90%;
	    right: 24px;
	    height: 73%;   
	}
}

@media screen and (max-width: 550px) {
	.transparent-block {
		right: 166px;
	}
}

@media screen and (max-width: 500px) {
	.transparent-block {
		right: 135px;
	}
}

@media screen and (max-width: 440px) {
	.transparent-block {
		right: 105px;
	}
}


@media screen and (max-width: 420px) {
	.procedure__text span {
	    display: block;
	    margin: 0px auto;
	    width: 190px;
	}

	.procedure__content {
    	margin-top: 20px;
	}

	.procedure__link {
	    padding: 10px 10px;
	    font-size: 23px;
	}

	.procedure__text { 
	    font-size: 15px;
	}

	.procedure__title {
	    font-size: 20px;
	}

	.procedure__circle {
	    width: 75%;
	    right: 11%;
	}
	.procedure__images svg {
	    width: 90px;
	    bottom: 9px;
	}
}

@media screen and (max-width: 365px) {
	.transparent-block {
		right: 67px;
	}
}