

@media screen and (max-width: 1100px) {
	.header__soc-media_insta {
	    font-size: 14px;
}

	.header__soc-media_tel {
	    font-size: 15px;
	}

	.header__ellipse_border {
	    top: 66px;
	    margin-left: -228.6px;
	    width: 455px;
	    height: 455px;
	}

	.header__ellipse {
	    margin-left: -225px;
	    width: 450px;
	    height: 450px;
	}

	.header__img_woman {
	    margin-right: -138px;
	    width: 350px;
	    height: 430px;
	}

	.header__block-list {  
    	width: 762px;
	}	

	.header__item_second {
	    margin-left: -31px;
	}

	.header__item_third {
	    margin-left: 5px;
	}

	.header__item::after {
	    margin-left: 19px;
	}

	.header__item_for-img {
	    margin-left: -46px;
	}

	.header__item-for-second-list {
	    right: -5px;
	}

	.header__item_sixth {
	    right: -44px;
	}

	.header__item_seventh {
	    right: -49px;
	}

	.header__item_fivth::before {
	    right: 241px;
	}

	.header__item-for-second-list::before {
	    right: 217px;  
	}

	.header__name {
    	margin-top: -16px;
    	margin-left: 5px;
	}

	.app {
	    width: 250px;
	    height: 215px;
	    margin-right: -473px;
	}

	.cloud__first {
	    top: -95px;
	    margin-left: -203px;
	}

	.cloud__second {
	    top: -24px;
	    margin-left: -200px;
	}

	.cloud__third {
	    top: -26px;
	    margin-left: -200px;
	}

	.cloud__fourth {
	    margin-left: -263px;
	    top: -6px;
	}

	.header__title {
	    font-size: 48px;
	    margin-top: 49px;
	}

	.header__img_gift { 
	    left: 5%;
	}

	.consultation {
	    padding-top: 40px;
	}

	.consultation__img {
	    margin-right: 8px;
	    width: 270px;
	}

	.stock__button {
	    max-width: 566px;
	    padding: 10px 0px 10px 60px;
	    font-size: 50px;
	    margin-left: 0px;
	}

	.header__item_fivth::before {
		right: 239px;
	}

	.header__item_sixth::before,
	.header__item_seventh::before {
		right: 218px;
	}
}

@media screen and (max-width: 992px) {
	.header__block {
	    padding: 10px 0px 10px 0px;
	}

	.header__ellipse_border {
	    top: 25px;
	    margin-left: -118.6px;
	    width: 235px;
	    height: 235px;
	}

	.header__ellipse {
	    margin-left: -115px;
	    width: 230px;
	    height: 230px;
	    top: 28px;
	}

	.header__img_woman {
	    margin-right: -71px;
	    width: 175px;
	    height: 235px;
	}

	.header__item,
	.header__item-for-second-list {
		font-weight: 600;
		margin-bottom: 10px;
		font-size: 15px;
	}

	.header__item_first {
	    margin-left: 65px;
	}

	.header__item_second {
	    margin-left: -3px;
	}

	.header__item_third {
	    margin-left: 29px;
	}

	.header__item_for-img {
		display: none;
	}

	.header__block-list {
	    width: 596px;
	    padding-top: 30px;
	}

	.header__name {
	    margin-top: -34px;
	    margin-left: -5px;
	    font-size: 14px;
	    width: 270px;
	    font-weight: 600;
	}

	.header__item::after {
	    width: 7px;
	    margin-left: 20px;
	    height: 7px;
	    border: 2px solid white;
	}

	.header__item-for-second-list::before {
	    right: 206px;
	    top: 12px;
	    width: 7px;
	    height: 7px;
	    border: 2px solid white;
	}

	.header__item-for-second-list {
	    right: 9px;
	}

	.header__item_fivth::before {
	    right: 214px;
	}

	.header__item_sixth {
	    right: -13px;
	}

	.header__item_seventh {
	    right: -17px;
	}

	.cloud__first {
	    left: 59%;
	    height: 100px;
	    width: 270px;
	    top: -50px;
	    margin-left: -204px;
	}

	.cloud__second {
	    left: 50%;
	    height: 100px;
	    width: 270px;
	    top: -18px;
	    margin-left: -142px;
	}

	.cloud__third {
	    left: 50%;
	    height: 200px;
	    width: 302px;
	    top: -46px;
	    margin-left: -150px;
	}

	.cloud__fourth {
	    left: 50%;
	    width: 270px;
	    height: 130px;
	    margin-left: -133px;
	    top: -57px;
	}

	.cloud__small {
		display: block;
		z-index: -5;
		left: 59%;
	    height: 100px;
	    width: 270px;
	    top: 5px;
	    margin-left: -204px;
	}

	.header__title {
	    font-size: 35px;
	    margin-top: 0px;
	}

	.app {
	    width: 104px;
	    height: 105px;
	    margin-right: -288px;
	    display: none;
	}

	.header__img_gift {
	    left: 8%;
	    bottom: -22px;
	    margin-left: -5px;
	    width: 70px;
	    height: 70px;
	}

	.consultation__img {
	    margin-right: 8px;
	    width: 170px;
	}

	.stock__button {
	    max-width: 490px;
	    padding: 10px 0px 10px 10px;
	    font-size: 40px;
	    margin-left: 0px;
	}

	.stock__button img {
	    padding-left: 45px;
	    width: 75px;
	    height: 75px;
	}

	.stock__text_first {
	    background-size: 10% 65%;
	    padding: 32px 0px 23px 55px;
	}

	.consultation__stock {
	    margin-bottom: 75px;
	    margin-top: 15px;
	}
}

@media screen and (max-width: 768px) {
	.header__wrapper {
		margin: 0px 15px;
	}

	.header__soc-media {
	    letter-spacing: 4px;
	}

	.header__item-for-second-list {
	    right: 13px;
	}

	.header__block-list {
    	width: 560px;
	}

	.header__ellipse_border {
	    top: 24px;
	    margin-left: -100.6px;
	    width: 205px;
	    height: 205px;
	}

	.header__ellipse {
	    margin-left: -97px;
	    width: 200px;
	    height: 200px;
	    top: 28px;
	}

	.header__item,
	.header__item-for-second-list {
	    font-weight: 600;
	    margin-bottom: 10px;
	    font-size: 14px;
	}

	.header__item_first {
	    margin-left: 62px;
	}

	.header__item_second {
	    margin-left: 12px;
	}

	.header__item_third {
	    margin-left: 49px;
	}

	.header__item_second::after {
		margin-left: 10px;
	}

	.header__item_third::after {
		margin-left: 9px;
	}

	.header__item-for-second-list {
	    right: 21px;
	}

	.header__item_sixth {
	    right: -1px;
	}

	.header__item_seventh {
	    right: 0px;
	}

	.header__item_fivth::before {
	    right: 193px;
	}

	.header__item_sixth::before,
	.header__item_seventh::before {
	    right: 183px;
	}

	.header__name {
	    background-size: 15% 42%;
	}

	.header__title {
	    font-size: 29px;
	    margin-top: -3px;
	}

	.header__img_gift {
	    left: 6%;
	    bottom: -7px;
	    margin-left: -5px;
	    width: 45px;
	    height: 46px;
	}

	.consultation {
	    padding-top: 0px;
	}

	.consultation__img {
		width: 130px;
	}

	.consultation__stock {
	    margin-bottom: 75px;
	    margin-top: 7px;
	}

	.stock__text_first {
	    background-size: 4% 100%;
	    padding: 5px 0px 6px 25px;
	    font-size: 13px;
	}

	.stock__text_second {
	    font-size: 14px;
	    letter-spacing: 7px;
	    margin-bottom: 20px;
	}

	.stock__text_second::before {
	    left: -25px;
	    width: 18px;   
	    height: 18px;
	}

	.stock__text_second::after {
	    right: -17px;
	    width: 18px;
	    height: 18px;
	}

	.stock__button {
	    max-width: 320px;
	    font-size: 30px;
	}

	.stock__button img {
	    padding-left: 35px;
	    width: 55px;
	    height: 55px;
	}

	.stock__button:after {
	    width: 15px;
	    height: 280px;
	}
}

@media screen and (max-width: 576px) {
	.header__soc-media_insta {
	    background-size: 13%;
	    font-size: 13px;
	    padding: 4px 0px 0px 25px;
	    letter-spacing: 1px;
	}

	.header__soc-media_tel {
	    font-size: 13px;
	    padding: 4px 0px 6px 25px;
	    background-size: 19%;
	    letter-spacing: 1px;
	}

	.header__ellipse_border {
	    top: 25px;
	    margin-left: -102.5px;
	    width: 205px;
	    height: 205px;
	}

	.header__ellipse {
	    margin-left: -100px;
	    width: 200px;
	    height: 200px;
	}

	.header__img_woman {
	    margin-right: -59px;
	    width: 150px;
	    height: 190px;
	}

	.header__item::after {
	    width: 5px;
	    margin-left: 23px;
	    height: 5px;
	    border: 2px solid white;
	}

	.header__block-list {
	    width: 398px;
	    padding-top: 15px;
	}

	.header__item_first {
	    margin-left: -1px;
	}

	.header__item_second {
	    margin-left: -20px;
	    width: 90px;
	}

	.header__item_third {
	    margin-left: -37px;
	}

	.header__item_second::after {
	    top: 20px;
	    margin-left: 16px;
	}

	.header__item_third::after {
	    top: 15px;
	    margin-left: 8px;
	}

	.header__item,
	.header__item-for-second-list {
	    margin-bottom: 8px;
	    font-size: 14px;
	    line-height: 14px;
	}

	.header__item-for-second-list::before {
	    right: 206px;
	    top: 12px;
	    width: 5px;
	    height: 5px;
	    border: 2px solid white;
	}

	.header__item_fivth {
	    right: 28px;
	}

	.header__item_fivth::before {
	    right: 121px;
	}

	.header__item_sixth {
	    right: -2px;
	    width: 86px;
	}

	.header__item_sixth::before {
	    right: 105px;
	    top: 31px;
	}

	.header__item_seventh {
	    right: 0px;
	    width: 76px;
	}

	.header__item_seventh::before {
	    right: 95px;
	    top: 17px;
	}

	.cloud__first {
	    left: 69%;
	    top: -80px;
	}

	.cloud__small {
	    left: 80%;
	    top: -68px;
	    width: 260px;
	}

	.header__name {
	    margin-top: -53px;
	    font-size: 13px;
	    width: 260px;
	}

	.header__title {
	    font-size: 23px;
	    margin-top: -5px;
	}
	
	.header__img_gift {
	    left: 2%;
	    bottom: -1px;
	    width: 19px;
	    height: 20px;
	}

	.consultation__img {
	    width: 105px;
	}

	.consultation__stock {
	    margin-bottom: 15px;
	}

	.stock__text_first {
	    background-size: 6% 100%;
	    padding: 8px 0px 8px 26px;
	    font-size: 14px;
	    letter-spacing: 1px;
	}

	.stock__text_second {
	    font-size: 14px;
	    letter-spacing: 6px;
	    margin-bottom: 15px;
	}

	.stock__text_second::before {
	    left: -25px;
	    width: 16px;
	    height: 16px;
	}

	.stock__text_second::after {
	    right: -17px;
	    width: 16px;
	    height: 16px;
	}

	.stock__button {
	    max-width: 260px;
	    font-size: 21px;
	}

	.stock__button img {
	    padding-left: 15px;
	    width: 45px;
	    height: 45px;
	}

	.stock__button:after {
	    width: 10px;
	    height: 275px;
	}
}



@media screen and (max-width: 400px) {
	.header__soc-media_insta {
	    background-size: 13%;
	    font-size: 13px;
	    padding: 4px 0px 0px 25px;
	    letter-spacing: 0px;
	}

	.header__soc-media_tel {
	    font-size: 13px;
	    padding: 4px 0px 6px 25px;
	    background-size: 19%;
	    letter-spacing: 0px;
	}

	.header__ellipse_border {
	    top: 25px;
	    margin-left: -63.5px;
	    width: 125px;
	    height: 125px;
	}

	.header__ellipse {
	    margin-left: -60px;
	    width: 120px;
	    height: 120px;
	}

	.header__img_woman {
	    margin-right: -43.5px;
	    width: 105px;
	    height: 140px;
	}

	.header__item::after {
	    width: 5px;
	    margin-left: 23px;
	    height: 5px;
	    border: 2px solid white;
	}

	.header__block-list {
	    width: 318px;
	    padding-top: 15px;
	}

	.header__item_first {
	    margin-left: -23px;
	}

	.header__item_second {
	    margin-left: -25px;
	    width: 90px;
	}

	.header__item_third {
	    margin-left: -25px;
	}

	.header__item_second::after {
	    top: 20px;
	    margin-left: 16px;
	}

	.header__item_third::after {
	    top: 15px;
	    margin-left: 16px;
	}

	.header__item,
	.header__item-for-second-list {
	    margin-bottom: 6px;
	    font-size: 13px;
	    line-height: 13px;
	}

	.header__item-for-second-list::before {
	    right: 206px;
	    top: 12px;
	    width: 5px;
	    height: 5px;
	    border: 2px solid white;
	}

	.header__item_fivth {
		right: 13px;
	}

	.header__item_fivth::before {
	    right: 108px;
	}

	.header__item_sixth {
	    right: 5px;
	    width: 86px;
	}

	.header__item_sixth::before {
	    right: 96px;
	    top: 23px;
	}

	.header__item_seventh {
	    right: 16px;
	    width: 76px;
	}

	.header__item_seventh::before {
	    right: 107px;
	    top: 17px;
	}

	.cloud__first {
	    left: 69%;
	    top: -80px;
	}

	.cloud__small {
	    left: 80%;
	    top: -68px;
	    width: 260px;
	}

	.header__name {
	    margin-top: -39px;
	    font-size: 13px;
	    width: 240px;
	}

	.header__title {
	    font-size: 19px;
	    margin-top: -5px;
	}

	.header__img_gift {
	    left: 2%;
	    bottom: -1px;
	    width: 19px;
	    height: 20px;
	}

	.consultation__img {
	    width: 95px;
	}

	.consultation__stock {
	    margin-bottom: 15px;
	}

	.stock__text_first {
	    background-size: 5% 100%;
	    padding: 5px 0px 5px 18px;
	    font-size: 13px;
	    letter-spacing: 0px;
	}

	.stock__text_second {
	    font-size: 13px;
	    letter-spacing: 5px;
	    margin-bottom: 15px;
	}

	.stock__text_second::before {
	    left: -25px;
	    width: 16px;
	    height: 16px;
	}

	.stock__text_second::after {
	    right: -17px;
	    width: 16px;
	    height: 16px;
	}

	.stock__button {
	    max-width: 200px;
	    font-size: 17px;
	}

	.stock__button img {
	    padding-left: 15px;
	    width: 34px;
	    height: 35px;
	}

	.stock__button:after {
	    width: 10px;
	    height: 275px;
	}
}
