* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.content {
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

a {
	text-decoration: none;
}

.map {
	width: 710px;
	margin: 0px auto;
	height: 480px;
}

.map svg {
	display: block;
	width: 100%;
	height: 100%;
	transition: all 0.15s;
}

.map a {
	transition: all 0.15s;
	color: white;
}

.map-tab-link {
	position: relative;
}

.map-tab-link span {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
}

.active {
	background-color: #bfbfbf;
	transition: all 0.15s;
}

.info {
	padding: 30px 100px;
	padding-bottom: 50px;
	max-width: 50%;
}

.info h2 {
	margin-bottom: 20px;
}
