@media screen and (max-width: 1280px) {


/* Service Page First Start*/	


	.main-block__info {
		margin-left: 5px;
	}

	.main-block__menu li {
    	padding: 0px 0px 30px 14px;
    	width: 210px;
	}

	.main-block__menu {
    	width: 220px;  
	}

/* Service Page First End*/


/* Main Page Start*/


	.main__lang {
	    margin-left: 70px;
	}

/* Main Page End*/

/*Advantages Mega-Project Start */

	.advantages-mega-project__title {
		font-size: 36px;
	}

	.mega-project__img img {
    	margin-top: 26px;
	}

	.mega-project__img {
    	margin-bottom: 40px;
	}

/*Advantages Mega-Project End */


/* Advantages Laboratory Start */

	.laboratory__img {
    	padding-left: 0px;
	}

	.advantages-mega-project__title {
    	font-size: 30px;
	}

	.lab-works-research__img img {
    	margin-top: 115px;
	}

	.mega-project__img img {
    	margin-top: 26px;
    	width: 433px;
    	height: 338px;
	}	

/* Advantages Laboratory End */

/* Advantages Geoprofi Start */

	.geoprofi__item-none-square {
		padding-left: 0px;
	}

	.geoprofi__img_first img {
	    margin-top: 160px;
	}

	.geoprofi__img_second img {
		margin-top: 125px;
	}

/* Advantages Geoprofi End */

/* Advantages Registr Start */

.geoprofi__img_first .registr__img {
	margin-top: 0px;
}

/* Advantages Registr End */

/* News Geology Start */

.events__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    max-width: 855px;
    margin-bottom: 52px;
}

.events__title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 25px;
}

.events__text_margin {
	margin-bottom: 109px;
}

/* News Geology End */

/* Birthday News Start */

	.birthday__main-title {
	    font-size: 42px;	    
	}



/* Birthday News End */

}

@media screen and (max-width: 1270px) {
	.birthday__main-title {
	    font-size: 42px;	    
	}

	.birthday__text {
	    margin-right: 44px;
	    line-height: 25px;
	    font-size: 15px;
	    color: black;
	}

	.birthday__text_first {
	    margin-bottom: 10px;
	}

	.birthday__text_third {
	    font-size: 15px;
	    line-height: 25px;
	    margin-top: 10px;
	    margin-bottom: 30px;
	}

	.birthday__wrap-img img {    
	    margin-top: 90px;
	}
}

@media screen and (max-width: 992px) {

/* Main Page Start*/

	.main__lang {
	   	margin-left: 20px;
	}

/* Main Page End*/


/* Service Page First Start*/

	.treatment__button img {
    	margin-left: 2px;
	}

	.treatment__button {
    	padding: 20px 0px;
   		width: 220px;
	}
	   
	.main-block__menu li {
		font-weight: normal;
		font-size: 16px;
		color: #000000;
		padding: 0px 0px 30px 30px;
		transition: 1s all;
	}

	.main-block__info {
    	margin-left: 52px;
	}

/* Service Page First End*/

/* Service Page Second  Start*/

.info-content__block-imgs {
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 45px;
}

.info-content__block-imgs img {
	width: 225px;
	margin-bottom: 0px;
}

.info-content__item-button button {
    margin-bottom: 45px;
    width: 280px;
}

 .info__margin{
	margin-left: 0px;
}

/* Service Page Second End */

/* Advantages Page_bank Start*/

.advantages-block__info {
	margin-left: 0px;
}


.advantages__title {
    font-weight: bold;
    font-size: 44px;
    color: #000000;
    margin-bottom: 30px;
}

/* Advantages Page_bank End*/


/*Advantages Mega-Project Start */

	.advantages-mega-project__title {
    	font-size: 33px;
    	margin-bottom: 15px;
	}

	.mega-project__text {  
	   	 font-size: 17px;
	}

	.mega-project__img img {
    	margin-top: 115px;
	}

	.mega-project__button {
	    margin-right: 35px;  
	}

	.mega-project__button {
		width: 360px;
	}

	.advantages__mega-project {
		margin-bottom: 30px;
	}

/*Advantages Mega-Project End */

/* Advantages Laboratory Start */

	.mega-project__img img {
    	margin-top: 0px;
    	width: 100%;
    	height: auto;
	}

	.laboratory__title::before {	
    	height: 45px;
    	top: 0px;  
	}

	.laboratory__main-title {
	    margin-bottom: 30px;
	}

	.lab-works__title {
    	margin-top: 30px; 
	}

	.lab-works-research, .lab-works-research__img {
    	margin-top: 60px;
	}

	.lab-works-research__img {
		margin-top: 0px;
	}

	.appliance__button {
		width: 280px;
	}

	
	.appliance__text::before {
	    top: 14px;
	    background: #F7D149;
	}

/* Advantages Laboratory End */

/* Advantages Geoprofi Start */

	.laboratory__main-title { 
	    font-size: 37px;
	}

	.geoprofi__img_first img {
    	margin-top: 25px;
    	margin-bottom: 30px;
	}

	.geoprofi__img_second img {
    	margin-top: 30px;
	}

/* Advantages Geoprofi Start */

/* Advantages Soft Start */

	.treatment__button {
    	padding: 20px 5px;
    	width: 268px;
	}

/* Advantages Soft End */

/* Policy Behavior Start */

	.policy__title_first {
	    width: auto;
	    font-size: 40px;
	}

/* Policy Behavoir End */

/* News Geology Start */

	.events__title {
	    margin-top: 15px;
	}

	.events__button {
    	margin-top: 30px;
	}

	.events__cont {
	    margin-left: 15px;
	}

	.events__info_img {
		height: 100%;
	}

	.events__text {
    	margin-bottom: 14px;
	}

/* News Geology End */

/* News Geology Start */

	.events__link {
		display: block;
		width: 196px;
		height: 65px;
		padding-left: 29px;
	}

	.events__link img {
		margin-left: 15px;
	}

/* News Geology End */

/* Birthday News Start */

	.birthday {
	    margin-bottom: 90px;
	}

	.birthday__text_third {
	    margin-bottom: 655px;
	}

	.birthday__wrap-img img {
		margin-top: 130px;
	}

/* Birthday News End */

}

@media screen and (max-width: 768px) {

/* Service Page First Start*/

	.main-block__menu {
		width: 100%;
    	display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
    	margin-bottom: 60px;
	}

	.main-block__menu li {
    	padding-top: 23px;
    	width: 221px;
	}

	.treatment__title {
	    font-weight: bold;
	    font-size: 41px;
	    color: #000000;
	    text-align: center;
	    margin-bottom: 30px;
	}

	.treatment__text {
	    position: relative;
	    padding-left: 18px;
	    padding-top: 5px;
	  	width: auto;
	    font-size: 18px;
	    color: #000000;
	}

	.treatment__button {
	    padding: 20px 0px;
	    width: 220px;
	    margin: 38px auto;
	    margin-bottom: 0px;
	}

	.main-block__info {
	     margin-left: 0px; 
	}

	.main-block__info-title {
	    font-weight: bold;
	    font-size: 36px;
	    color: #000000;
	    text-align: center;
	    margin-bottom: 30px;
	}

	.flex-direction-column {
		flex-direction: column;
	}

/* Service Page First End*/

/* Service Page Second  Start */


.info__fullscreen li {
	padding: 20px 0px 0px 0px;
	width: 100%;
	text-align: center;
}

.info__fullscreen li:last-child {
	padding: 20px 0px 20px 0px;
}

.info-content__block-imgs {
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.info-content__block-imgs img {
    width: 100%;
    margin-bottom: 20px;
}


/* Service Page Second End */

/* Advantages Page_bank Start*/

	.advantages__title {
   		font-size: 32px;
    }

    .application__button {
    	margin: 0px auto;
    	margin-bottom: 25px;
    }

    .application__text {
    	margin-bottom: 30px;
    }

/* Advantages Page_bank End*/


/*Advantages Mega-Project Start */

	.mega-project__img img {
    	margin-top: 0px; 
	}

	.mega-project__img {
		margin-bottom: 15px;
	}

	.mega-project__button {
		margin-bottom: 30px;
	}

/*Advantages Mega-Project End */


/* Advantages Laboratory Start*/

	.lab-works-research__img img {
    	margin-top: 60px;
	}

	.appliances-block {
	    margin-top: 60px;
	}

	.appliance__button {
	    margin-top: 20px;
	    margin-bottom: 10px;
	}

	.appliance__text {
	    margin-top: 20px;
	}

	.laboratory__title::before {
    	top: 21px;
	}	

/* Advantages Laboratory End */

/* Advantages Geoprofi Start */

	.laboratory__main-title, .geoprofi__title {
	    font-size: 27px;
	}

	.geoprofi__title {
		line-height: 40px;
	}

	.geoprofi__item {
	    font-size: 15px;   
	}

/* Advantages Geoprofi End */

/* Advantages Registr Start */

	.registr__item-title {
	    font-size: 32px !important;
	}

/* Advantages Registr End */

/* Advantages Soft Start */

	.data-processing-geodepth__block_first {
	    flex-direction: column;
	    align-items: center;
	}

	.data-processing-geodepth__img {
	    width: 188px;
	    text-align: center;
	    margin-bottom: 30px;
	}

	.data-processing__title { 
    	font-size: 30px;
    	text-align: center;
    	margin-bottom: 35px;
	}

	.data-processing-geodepth__img {
    	margin-right: 0px;
	}

/* Advantages Soft End */

/* Policy Behavior Start */

.policy-block__menu li {
	padding-top: 20px;
}

/* Policy Behavior End */

/* News Geology Start */

	.events__info {
	    border: 0px;
	    border-left: 0px;
	    margin-bottom: 60px;
	    margin-left: 0px;
	    width: 100%;
	    margin-top: 45px;
	}

	.events__date {
	    left: 125px; 
	}

	.events__info_img {
	    text-align: center;
	    position: static;
	}

	.events__img {
    margin-left: 0px;
    position: relative;
    display: block;
    margin: 0px auto;
}

	.events__calendar {
	    position: relative;
	    color: white;
	    margin-top: 10px;
	}

	.events__cont {
	 	margin-left: 0px;
	    text-align: center;
	}

	.events__title {
		margin-top: 25px;
	}

	.events__link { 
	    margin: 15px auto;
	}

/* News Geology End */

/* Birthday News Start */

	.birthday__text_third {
	    margin-bottom: 450px;
	    text-align: center;
	}

	.birthday__main-title {
	    font-size: 36px;
	}

	.birthday__text {   
	    text-align: center;
	    margin-right: 0px;
	}

	.birthday__detail {
	    justify-content: center;
	}

	.birthday__soc-media {
    	justify-content: center;
	}

/* Birthday News End */
}

@media screen and (max-width: 580px) {

/* Service Page First Start*/	

	.treatment__title { 
    	font-size: 36px;
   }

   .main-block__menu {
		width: 100%;
		padding: 0px;
	}

/* Service Page First End*/

/* Advantages Soft Start */

	.data-processing__text { 
    	text-align: center;
	}

		.data-processing__cont-title {  
	    text-align: center;
	}

	.data-processing-geodepth__text { 
	    text-align: center;
	}

	.data-processing_desc {
	    text-align: center;
	}

/* Advantages Soft End */

/* News Geology Start */

.events__date {
    left: 40%;
}

.events__wrap {
	flex-direction: column;
}

.events__main-title {
	text-align: center;
	width: 100%;
}

.events__calendar {
	position: relative;
	margin: 0px auto;
	display: block;
	text-align: center;
}

.choose__img {
	position: absolute;
}

	.birthday__text_third {
	    margin-bottom: 95%;
	    text-align: center;
	}

/* News Geology End */

}


@media screen and (max-width: 510px) {
	.birthday__wrap-img img {
	    margin-top: 150px;
	}

	.birthday__text_third {
	    margin-bottom: 99%;
	    text-align: center;
	}
}

@media screen and (max-width: 480px) {

/* Service Page First Start*/

	.main-block__menu li {
    	padding-top: 23px;
    	width: 100%!important;
	}

/* Service Page First End*/


/* Policy Behavior Start */
	.policy__title_first {
	    font-size: 30px;
	}

/* Policy Behavior End */

/* News Geology Start */

.events__date {
    left: 39%;
}

/* News Geology End */

}

@media screen and (max-width: 470px) {
	.birthday__soc-media {
		font-size: 14px;
		align-items: center;
	}

	.birthday__soc-media a{
	    margin-left: 5px;
	}


	.birthday__soc-media a:first-child {
	    margin-left: 8px;
	}
}

@media screen and (max-width: 450px) {

/* Service Page First Start*/

	.treatment__title {
    	font-size: 32px;
	}

/* Service Page First End*/	

/* Service Page Second  Start */


	.info__fullscreen li {
		padding-left: 10px;
		padding-right: 10px;
	}

	.treatment__button:hover, .treatment__button:focus {
		opacity: 0.85;
		padding-right: 30px !important;
	}

/* Service Page Second End */

/* Advantages Registr Start */

	.registrators__main-title, .registr__item-title, .registr__info-title {
		text-align: center;
	}

	.registr__text {  
	    font-size: 17px;
	    line-height: 34px;    
	}

/* Advantages Registr End */

}

@media screen and (max-width: 435px) {
	.events__date {
	    left: 38%;
	}
}

@media screen and (max-width: 428px) {
	.birthday__wrap-img img {
	    margin-top: 170px;
	}
}

@media screen and (max-width: 380px) {

/* Advantages Laboratory Start */

	.laboratory__main-title {
    	font-size: 36px;
    	text-align: center;
    }

    .laboratory__title {
    	text-align: center;
    	padding-left: 0px;
	}

	.lab-works-block__list {
	    padding: 0px;
	    margin-right: 0px;
	}
.events__date {
    left: 37%;
}

/* Birthday News Start */

	.birthday__soc-media {
		flex-direction: column;
	}

/* Birthday News End */
/* Advantages Laboratory End */
}

@media screen and (max-width: 370px) {
	.birthday__wrap-img img {
	    margin-top: 190px;
	}

	.birthday__main-title {
	    font-size: 30px;
	}
}

@media (max-width: 991.98px) {
	.main__search_none, .main__search_have, .main__search_error {
    	display: block;
	}
}
@media (max-width: 767.98px) {
	.main__search_none, .main__search_have, .main__search_error {
    display: block;
}

}
/* For Search End */

@media screen and (max-width: 992px) {
	.result-search_have__item {
		font-size: 15px;
	}
}

/* For Search Error Start */

@media screen and (max-width: 992px) {
	.form-search_error {
		width: auto;
	}

	.result-search_error__button {
		width: auto;
		padding: 20px;
	}
}

@media screen and (max-width: 768px) {
	.result-search_error__title {
	    text-align: center;
	    margin-bottom: 15px;
	    font-size: 36px;    
	}

	.result-search_error__not-exist {
	    font-size: 27px;
	    line-height: 30px;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
}

/* For Search Error End */

/* For Modal Start */

@media screen and (max-width: 450px) {
	.modal__title, .popup__title {
    font-weight: bold;
    font-size: 30px;
    padding-top: 0px;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    color: black;
    text-align: center;
}

.modal-body .modal__body-text_first {
    margin-bottom: 13px;
}

.modal-body .modal__body-text_second {
    font-weight: normal;
    width: auto;
    margin-bottom: 13px;
}	

.form__name {
    margin-right: 0px;
}
.form__tel, .form__name {
    padding-bottom: 10px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid black;
}

.form__confidence {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px 222px;
}
}


@media screen and (max-width: 420px) {
	.form__submit {
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0px auto;
    margin-bottom: 45px;
    background: #F7D149;
    padding: 20px 25px;
    font-weight: bold;
    font-size: 19px;
    border: none;
    border-radius: 0px;
}
}

@media screen and (max-width: 400px) {
.modal__title, .popup__title {
    font-weight: bold;
    font-size: 30px;
    padding-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 32px;
    line-height: 54px;
    color: #000000;
    color: black;
    text-align: center;
}

.modal-body .modal__body-text_first {
    margin-bottom: 13px;
    font-size: 13px;
}

.modal-body .modal__body-text_second {
    font-weight: normal;
    width: auto;
    margin-bottom: 5px;
    font-size: 12px;
}

.form__tel, .form__name {
    padding-bottom: 5px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid black;
}

.form__tel, .form__name {
    padding-bottom: 5px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid black;
    width: 40%;
    font-size: 12px;
}

.form__check-text {
    font-size: 10px;
    color: black;
    padding-left: 20px;
}

.form__submit {
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0px auto;
    margin-bottom: 43px;
    background: #F7D149;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 0px;
}
}



/* For Modal End */

@media screen and (max-width: 992px) {
	.form__confidence {
    	padding: 0px 89px;
	}	
}

@media screen and (max-width: 600px) {
	.form__confidence {
    	padding: 0px 85px;
	}
}

@media screen and (max-width: 505px) {
	.form__confidence {
    	padding: 0px 70px;
	}
}

@media screen and (max-width: 482px) {
	.form__confidence {
   		padding: 0px 61px;
	}
}

@media screen and (max-width: 462px) {
	.form__confidence {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px 50px;
}
}

@media screen and (max-width: 440px) {
	.form__confidence {
   		padding: 0px 40px;
	}
}

@media screen and (max-width: 425px) {
	.form__confidence {
   		padding: 0px 35px;
	}

	.form__name {
		margin-right: 0px;
	}
}

@media screen and (max-width: 350px) {
	.form__tel, .form__name {
	    padding-bottom: 10px;
	   	padding-left: 0px; 
	    border: none;
	    border-bottom: 1px solid black;
	}
}

/* Thanks Modal Start */

@media screen and (max-width: 992px){

.popup__content {
    background: white;
    color: black;
    width: auto;
    padding: 30px 60px;
    position: relative;
}
}

@media screen and (max-width: 500px) {
.popup__title {
    font-weight: bold;
    font-size: 46px;
    padding-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 39px;
    line-height: 54px;
    color: #000000;
    color: black;
    text-align: center;
}
.popup__content {
    background: white;
    color: black;
    width: auto;
    padding: 20px 15px;
    position: relative;
}

.popup__text_first {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.popup__text_second {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
}
}

@media screen and (max-width: 370px) {
	.popup__title {
    font-weight: bold;
    font-size: 46px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 31px;
    line-height: 54px;
    color: #000000;
    color: black;
    text-align: center;
}

.popup__text_first {
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
}

.popup__text_second {
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 40px;
    color: #000000;
}
}

/* Thanks Modal End */