@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Bold.eot');
	src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro-Bold.woff') format('woff'),
	url('../fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-regular.eot');
	src: url('../fonts/GothamPro-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro-regular.woff') format('woff'),
	url('../fonts/GothamPro-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a, button {
	cursor: pointer;
}

a, a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Gotham Pro';
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.modal__show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    overflow-y: auto;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.70);
}

.visible {
  display: block;
  animation: showBlock 0.5s ease-in-out;
}

.hidden {
	display: none;
	animation: hiddenBlock 0.5s ease-out;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hiddenBlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-wrap {
	display: flex;
	align-items: center;
	position: relative;
	width: auto;
	min-height: calc(100% - 3.5rem);
}

.modal {
	background: white;
	border-radius: 10px;
	border: none;
	position: relative;
	padding: 30px 0px;
	text-align: center;
	max-width: 500px;
	width: 100%;
	margin: 1.75rem auto;
}

.modal__close {
	position: absolute;
	color: #084C94;
	font-size: 20px;
	top: 15px ;
	right: 15px;
	background: white;
	border: none;
	width: 15px;
	height: 15px;
}

.modal__close img {
	width: 100%;
	height: 100%;
}

.modal__cont {
	max-width: 375px;
	width: 100%;
	margin: 0px auto;
}

.modal__title {
	margin-bottom: 30px;
	font-weight: 600;
	font-family: 'Gotham Pro';
	font-size: 18px;
	color: black;
}

.form__input {
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-size: 16px;
    width: 100%;
    border: 1px solid rgb(206, 212, 218);
    color: #495057;
    padding: 10px 10px 10px 50px;
    box-shadow: 0px 5px 20px rgb(235 237 247 / 70%);
}

.form__area {
	margin-bottom: 10px;
}

.form__name {
    background: url(../img/user-form.svg) no-repeat left center;
    background-position: 10px 5px;
}

.form__tel {
    background: url(../img/phon.svg) no-repeat left center;
    background-position: 10px 5px;
}

.form__mail {
    background: url(../img/mail-form.svg) no-repeat left center;
    background-position: 10px 5px;
}

.form__day {
    background: url(../img/clients_count1.svg) no-repeat left center;
    background-position: 10px 5px;
}

.form__month {
    background: url(../img/clients_count_mont.svg) no-repeat left center;
    background-position: 10px 5px;
}

.form__input::placeholder,
.form__area {
	font-family: 'Montserrat';
	color: #495057;
	font-size: 16px;
}

.form__area {
	resize: vertical;
	width: 100%;
	border: 1px solid rgb(206, 212, 218);
    color: #495057;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(235 237 247 / 70%);
    margin-bottom: 30px;
}

.form__submit {
	background: #3ECFCD;
	font-size: 20px;
	padding: 10px 30px;
	width: 100%;
	color: white;
	font-family: 'Montserrat';
	font-weight: 600;
	border: none;
	border-radius: 20px;
}

.header {
    background: #E3F9F9;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.wrap {
	max-width: 1140px;
	margin: 0px auto;
}

.header__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__item img {
	width: 100%;
}

.header__links {
	max-width: 556px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header__links a,
.header__login {
	font-weight: 600;
	color: #6C6C6C;
	transition: all 0.5s ease;
}

.header__links a:hover,
.header__login:hover {
	color: #0FBAB8;
}

.header__login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 71px;
	width: 100%;
}

.btn {
	background: linear-gradient(95.86deg, #59DEDC 34.19%, #0FBAB8 92.65%);
	border-radius: 30px;
	font-weight: normal;
	font-size: 15px;
	color: #FFFFFF;
	padding: 15px 22px;
	border: none;
}

.navbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #084C94;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.price__selects-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 490px;
	width: 100%;
}

.price__selects {
	position: relative;
}

.price__select {
	background: url('../img/osr.svg') no-repeat left center;
	background-position: 15px 13px;
	padding: 18px 44px 18px 55px;
	font-size: 15px;
	color: #084C94;
	font-family: 'Gotham Pro';
	width: 240px;
	border: 1px solid rgba(8, 76, 148, 0.25);
	border-radius: 3px;
}

.price__select_second {
	background: url('../img/month.svg') no-repeat left center;
	background-position: 15px 13px;
}

.price__selects:after {
	z-index: 10;
	display: block;
	position: absolute;
	content: '';
	width: 16px;
	height: 13px;
	top: 22px;
	right: 23px;
	background: url('../img/arr-d.png') no-repeat right center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.price__result {
	font-weight: 500;
	font-size: 20px;
	color: #4770A3;
	margin-top: 25px;
}

.price__result span {
	font-weight: 700;
}

.first {
    padding-top: 187px;
}

.first__block {
	display: flex;
	justify-content: space-between;
}

.title span {
	color: #3ECFCD;
	display: block;
}

.title-h2 span {
	color: #3ECFCD;
}

.first__title {
	font-weight: bold;
	font-size: 48px;
	line-height: 120%;
	letter-spacing: -0.05em;
	color: #084C94;
	margin: 30px 0px;
}

.subtitle {
	font-weight: 500;
	line-height: 170%;
	color: #6C6C6C;
}

.first__subtitle {
	max-width: 446px;
	margin-bottom: 22px;
}

.price__text {
	font-weight: 600;
	font-size: 15px;
	line-height: 170%;
	color: #4770A3;
	max-width: 310px;
	margin-bottom: 20px;
}

.first__pic-wrap {
	position: relative;
}

.first__pic-wrap img {
	width: 650px;
	position: absolute;
	right: -115px;
}

.first__button-wrap {
	display: none;
}

.tariffs {
	margin: 150px 0px 180px 0px;
}

.title-h2 {
	font-weight: bold;
	font-size: 42px;
	line-height: 120%;
	letter-spacing: -0.05em;
	color: #084C94;
}

.tariffs__title {
	text-align: center;
	margin-bottom: 55px;
}

.responsive {
	display: none;
}

.tariffs__cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}	

.tariffs__card {
	max-width: 367px;
	width: 100%;
}

.card__title {
	padding: 38px 35px;
	width: 100%;
	color: white;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: -0.05em;
	background: #3ECFCD;
	border-radius: 15px 15px 0px 0px;
}

.card__title span {
	font-size: 30px;
	display: block;
	font-weight: 700;
	letter-spacing: -0.05em;
	margin-top: 15px;
}

.card__cont {
	text-align: center;
	background: #E3F9F9;
	padding: 40px 0px 50px 0px;
	border-radius: 0px 0px 15px 15px;
}

.card__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 170%;
	letter-spacing: -0.05em;
	color: #6C6C6C;
	padding-bottom: 10px;
}

.card__text_last{
	padding-bottom: 0px;
}

.card__button {
	border: none;
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 30px;
}

.card__title_second {
	background: linear-gradient(95.86deg, #59DEDC 34.19%, #0FBAB8 92.65%);
}

.card__title_third {
	background: #0FBAB8;
}

.about {
	background: url('../img/about-img.png') no-repeat center bottom;
	background-size: contain;
	padding-bottom: 88px;
}

.about__wrap {
	max-width: 560px;
	margin: 0px auto;
}

.about__title {
	margin-bottom: 25px;
}

.about__text {
	font-weight: 500;
	line-height: 170%;
	color: #6C6C6C;
}

.about__text span {
	font-weight: bold;
}

.about__img {
	display: none;
}

.margin {
	margin-bottom: 15px;
}

.benefits {
    background: #E3F9F9;
    padding: 50px 0px;
    margin-top: -2px;
}

.benefits__title {
	font-weight: normal;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	color: #3ECFCD;
	text-align: center;
	font-family: 'Gotham Pro';
	margin-bottom: 84px;
}

.benefits__cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
}

.benefits__cont-text_white {
	font-size: 16px;
	letter-spacing: -0.05em;
	color: #3ECFCD;
	background: #FFFFFF;
	border: 1px solid #3ECFCD;
	border-radius: 30px;
	padding: 15px 35px;
	margin-bottom: 30px;
	display: inline-block;
}

.benefits__cont-text {
	max-width: 560px;
	width: 100%;
}

.benefits__cont-title {
	font-weight: bold;
	font-size: 42px;
	line-height: 120%;
	font-family: 'Gotham Pro';
	letter-spacing: -0.05em;
	color: #084C94;
	margin-bottom: 20px;
}

.benefits__cont-text_default {
	line-height: 170%;
	color: #6C6C6C;
}

.benefits__cont-pic-wrap {
	max-width: 360px;
	width: 100%;
}

.benefits__cont-pic-wrap img {
	width: 100%;
}

.benefits__text_sm {
	font-weight: 600;
	line-height: 170%;
	text-align: center;
	color: #3ECFCD;
	max-width: 560px;
	margin: 0px auto;
}

.benefits__button {
    display: block;
    margin: 50px auto 0px;
    text-align: center;
    max-width: 246px;
}

.user {
    padding: 50px 0px;
}

.user__title {
	margin-bottom: 80px;
	text-align: center;
}

.user__list {
	display: flex;	
	justify-content: space-between;
	align-items: end;
	max-width: 1030px;
	width: 100%;
	margin: 0px auto;
}

.user__item {
	max-width: 320px;
	width: 100%;
	text-align: center;
}

.user__img {
	margin-bottom: 30px;
}

.user__text {
	font-weight: 500;
	line-height: 170%;
	text-align: center;
	letter-spacing: -0.05em;
	color: #6C6C6C;
}

.user__text span {
	font-weight: 700;
}

.user__text a {
	color: #3ECFCD;
	display: block;
}

.user__text a span {
	color: #6C6C6C;
}

.user__text a:hover {
	text-decoration: underline;
}

.user__accordeon-title {
	text-align: center;
	margin: 180px 0px 40px 0px;
}

.user__panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.accordeon__content {
	background: #084C94;
	color: white;
	padding: 0px;
	width: 100%;
	height: 0px;
	position: relative;
	overflow: hidden;
	transition: .6s ease-in-out;
}

.panel,
.panel-second {
	margin: 0px auto;
	max-width: 560px;
	width: 100%;
	margin-bottom: 15px;
}

.panel-heading button,
.panel-heading-second button {
	width: 100%;
	text-align: left;
	background: #3ECFCD;
	border-radius: 5px;
	font-size: 16px;
	padding: 16px 30px;
	color: white;
	border: none;
	position: relative;
	font-weight: 600;
	letter-spacing: -0.05em;
	font-family: 'Montserrat';
	transition: all 0.5s ease;
}

.panel-heading button:hover,
.panel-heading-second button:hover {
	background: #45a19f;	
}

.panel-heading button img,
.panel-heading-second button img {
    position: absolute;
    right: 27px;
    top: 50%;
    margin-top: -5px;
    width: 18px;
    height: 12px;
    transition: 0.3s;
}

.panel-heading.in button::after,
.panel-heading-second.in button::after {
	transform: rotate(180deg);
}

.panel-heading.in button img,
.panel-heading-second.in button img {
	transform: rotate(180deg);
}

.panel-collapse,
.panel-collapse-second {
    display: none;
    font-size: 14px;
    line-height: 150%;
    padding: 15px 30px 0px 15px;
    color: #000000;
    border-radius: 0px 0px 10px 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.panel-collapse-second {
	padding: 15px 30px 15px 15px;
}

.panel-heading-second button {
    margin-bottom: 10px;
}

.panel-second {
	margin-bottom: 0px;
}

.panel-collapse__price {
	padding: 15px 0px;
}

.panel__content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
}

.panel__content-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #084C94;
	color: white;
	padding: 10px 40px;
	border-radius: 10px;
}

.panel-heading-second button {
	text-align: center;
	background: #084C94;
}

.panel-heading-second button:hover {
	opacity: 0.8;
	background: #084C94;
}

.panel__content img {
	margin-right: 10px;
}

.panel__content-text {
	font-size: 16px;
	margin-left: 20px;
	color: black;
	font-weight: bold;
}

.panel__title {
	font-size: 18px;
	margin-bottom: 10px;
}

.panel__content-text_light {
	font-weight: 400;
}

.contacts {
	background: #E3F9F9;
	padding: 80px 0px 100px 0px;
}

.contacts__block {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contacts__cont {
	display: flex;
	flex-direction: column;
}

.contacts__title {
	font-weight: bold;
	font-size: 28px;
	letter-spacing: -0.05em;
	color: #084C94;
	margin-bottom: 35px;
	font-family: 'Gotham Pro';
}

.soc-media__item {
	text-align: center;
}

.soc-media__item img {
	margin-bottom: 15px;
}

.soc-media__name {
	font-weight: 500;
	text-align: center;
	color: #084C94;
}

.contacts__soc-media {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 359px;
	width: 100%;
	margin-bottom: 50px;
}

.contacts__questions {
	display: flex;
	flex-direction: column;
}

.questions__title {
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	color: #3ECFCD;
	margin-bottom: 15px;
}

.questions__subtitle {
	letter-spacing: -0.05em;
	color: #6C6C6C;
	margin-bottom: 40px;
}

.questions-contact__tel {
	font-size: 25px;
	letter-spacing: -0.05em;
	color: #084C94;	
	padding: 2px 0px 2px 50px;
	font-family: 'Gotham Pro';
	margin-bottom: 20px;
	background: url('../img/tel.svg') no-repeat left center;
}

.questions__contact {
	font-weight: 600;
	font-size: 20px;
	letter-spacing: -0.05em;
	color: #084C94;
	font-family: 'Gotham Pro';
	padding: 5px 0px 5px 50px;
	margin-bottom: 10px;
}

.contact__mail {
	background: url('../img/mail.svg') no-repeat left center;
}

.contact__fb {
	background: url('../img/facebook.svg') no-repeat left center;
}

.contact__in {
	background: url('../img/linkedin.svg') no-repeat left center;
	margin-bottom: 0px;
}

.contact__map {
	width: 626px;
	height: 377px;
	border: 0px;
	margin-bottom: 33px;
}

.contact__map-wrap {
	display: flex;
	flex-direction: column;
}

.map__text {
	font-weight: 500;
	font-size: 17px;
	line-height: 120%;
	text-align: right;
	letter-spacing: -0.05em;
	color: #084C94;
	margin-bottom: 8px;
}

.map__text span {
	font-weight: 700;
}

.footer {
	padding: 25px 15px 25px 15px;
	text-align: center;
	color: white;
	background: #3ECFCD;
}

@media screen and (max-width: 1400px) {
	.first__pic-wrap img {
	    width: 645px;
	    right: -18px;
	    margin-right: 10px;
	}
}

@media screen and (max-width: 1200px) {
	.header {
   		padding: 20px 15px;
	}

	.header__item img {
	    width: 98%;
	}

	.header__links {
	    max-width: 482px;
	    font-size: 14px;
	}
	
	.header__login {
	    max-width: 62px;
	    font-size: 14px;
	}

	.header__login img {
		width: 35%;
	}
	
	.header__button {
		font-size: 13px;
		padding: 15px;
	}

	.first {
	    padding: 160px 15px 0px;
	}

	.first__title {
	    font-size: 44px;
	    margin: 25px 0px;
	}

	.first__subtitle {
	    max-width: 446px;
	    margin-bottom: 18px;
	}

	.price__select {
	    padding: 18px 39px 18px 48px;
	    width: 220px;
	}

	.first__block {
	    align-items: center;
	}

	.first__pic-wrap img {
	    width: 100%;
	    position: static;
	}

	.first__pic-wrap {
	    max-width: 515px;
	}

	.price__selects-wrap {
	    max-width: 455px;
	}

	.price__selects {
	    position: relative;
	    margin-right: 15px;
	}

	.price__selects:nth-child(2) {
		margin-right: 0px;
	}

	.tariffs {
	    margin: 130px 0px 160px 0px;
	    padding: 0px 15px;
	}

	.tariffs__title {
	    margin-bottom: 45px;
	}

	.title-h2 {
	    font-size: 38px;
	}

	.card__title {
	    padding: 25px 30px;
	    font-size: 18px;
	}

	.card__title span {
	    font-size: 26px;
	    margin-top: 12px;
	}

	.tariffs__card {
	    max-width: 300px;
	}

	.card__cont {
	    padding: 35px 0px 40px 0px;
	}

	.benefits {
	    padding: 40px 15px;
	}

	.benefits__cont-title {
	    font-size: 37px;
	    margin-bottom: 15px;
	}

	.benefits__cont-text_white {
	    margin-bottom: 25px;
	}

	.benefits__cont {
	    margin-bottom: 70px;
	}


	.benefits__button {
	    margin: 40px auto 0px;
	}

	.user {
	    padding: 40px 15px;
	}

	.user__item {
	    max-width: 310px;
	}

	.user__accordeon-title {
		margin: 160px 0px 35px 0px;
	}

	.contacts {
	    padding: 70px 15px 80px 15px;
	}

	.contact__map {
	    width: 500px;
	    height: 330px;
	}
}

@media screen and (max-width: 992px) {
	.header__logo {
	    max-width: 120px;
	    margin-right: 10px;
	}

	.header__item img {
	    width: 100%;
	}

	.header__links {
	    max-width: 505px;
	    font-size: 12px;
	    width: 100%;
	    margin: 0px 10px;
	}

	.header__login img {
	    width: 32%;
	}

	.header__login {
	    max-width: 48px;
	    font-size: 12px;
	    margin: 0px 10px;
	}

	.header__button {
	    font-size: 12px;
	    padding: 12px;
	    max-width: 155px;
	    width: 100%;
	}

	.first {
	    padding: 137px 15px 0px;
	}

	.first__title {
	    font-size: 38px;
	    margin: 15px 0px;
	}

	.first__subtitle {
	    max-width: 415px;
	    margin-bottom: 10px;
	    font-size: 14px;
	}

	.price__text {
	    font-size: 13px;
	    max-width: 310px;
	    margin-bottom: 15px;
	}

	.price__selects:after {
	    top: 19px;
	    right: 10px;
	}

	.price__select {
	    padding: 15px 25px 15px 35px;
	    width: 200px;
	   	background-position: 5px 11px;
	    background-size: 13% 50%;
	    font-size: 14px;
	}

	.price__result {
	    font-size: 16px;
	    margin-top: 15px;
	}

	.first__text {
		max-width: 450px;
		width: 50%;
	}

	.tariffs {
	    margin: 100px 0px 130px 0px;
	}

	.tariffs__cards {
	    justify-content: space-around;
	    flex-wrap: wrap;
	}

	.tariffs__card {
		margin: 0px 15px 30px;
	}

	.tariffs__card:nth-child(3) {
		margin-bottom: 0px;
	}

	.title-h2 {
	    font-size: 34px;
	}

	.tariffs__title {
	    margin-bottom: 40px;
	}

	.about__title {
	    margin-bottom: 20px;
	}

	.about__text {
		font-size: 15px;
	}

	.about__wrap {
	    max-width: 445px;
	}

	.benefits__cont-variant-first .benefits__cont-text {
		margin-right: 15px;
	}

	.benefits__cont-variant-second .benefits__cont-text {
		margin-left: 15px;
	}

	.benefits__cont-pic-wrap {
	    max-width: 310px;
	}

	.benefits__cont {
	    margin-bottom: 60px;
	}

	.benefits__cont-title {
	    font-size: 34px;
	    margin-bottom: 12px;
	}

	.benefits__cont-text_white {
	    margin-bottom: 20px;
	}

	.benefits__cont-text_default {
	    font-size: 15px;
	}

	.benefits__text_sm {
		font-size: 15px;
	}

	.benefits__button {
	    margin: 30px auto 0px;
	}

	.user__accordeon-title {
	    margin: 130px 0px 30px 0px;
	}

	.user__item {
	    margin-right: 15px;
	}

	.user__item:nth-child(3) {
		margin-right: 0px;
	}

	.contacts {
	    padding: 60px 15px 70px 15px;
	}

	.contacts__soc-media {
	    max-width: 290px;
	    margin-bottom: 25px;
	}

	.contacts__title {
	    font-size: 24px;
	    margin-bottom: 25px;
	}

	.questions__title {
	    font-size: 18px;
	    margin-bottom: 10px;
	}

	.contact__map {
	    width: 412px;
	    height: 300px;
	}

	.map__text {
	    font-size: 15px;
	    margin-bottom: 5px;
	}
}

@media screen and (max-width: 768px) {
	.header {
		padding: 0px;
	}

	.header__list {
		display: none;
	}

	.navbar {
		display: flex;
		padding: 20px 15px;
	}

	.nav-menu {
		list-style-type: none;
	    position: fixed;
	    z-index: 20;
	    left: -100%;
	    background: #E3F9F9;
	    top: 0px;	
	    display: block;
	   	padding-top: 115px;
	    height: 100%;
	    width: 100%;
	    text-align: center;
	    transition: 0.3s;
	}

    .nav-menu.active {
	    left: 0;
	}

    .nav-item {
       margin: 0px auto 40px;
    }

    .nav-item a {
    	font-size: 16px;
    	font-weight: 600;
	    color: #6C6C6C;
	    transition: all 0.5s ease;
    }

    .nav-item a:hover {
    	color: #0FBAB8;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 21;
        right: 15px;
        top: 30px;
        position: fixed;
    }

    .overflow {
    	overflow-y: hidden;
    }

    .nav-top {
		position: absolute;
		top: 20px;
		left: 15px;
	}

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

   .header__login {
	    max-width: 76px;
	    font-size: 12px;
	    margin: 0px auto;
	}

	.first {
	    padding: 100px 15px 0px;
	}

	.first__pic-wrap img {
	    margin-right: 0px;
	}

	.first__pic-wrap {
	    position: relative;
	    z-index: -1;
	}

	.first__text {
	    max-width: none;
	    width: 100%;
	    text-align: center;
	}

	.first__title {
	    font-size: 34px;
	}

	.first__block {
	    align-items: center;
	    flex-direction: column-reverse;
	}

	.first__subtitle {
	    max-width: none;
	    font-size: 15px;
	}

	.price__text {
	    font-size: 14px;
	    margin: 0px auto 15px;
	    max-width: none;
	}

	.price__selects-wrap {
	    max-width: 415px;
	    margin: 0px auto;
	}

	.title-h2 {
	    font-size: 30px;
	}

	.tariffs {
	    margin: 70px 0px 100px 0px;
	}

	.tariffs__title {
	    margin-bottom: 30px;
	}

	.tariffs__cards {
		display: none;
	}

	.tariffs__card {
		max-width: none;
	}

	.responsive {
		display: block;
		max-width: 396px;
		margin: 0px auto;
	}

	.card__title {
	    padding: 25px 30px;
	    text-align: center;
	    font-size: 18px;
	}

	.slick-dots li.slick-active button:before {
	    opacity: 1;
	    color: #3ECFCD;
	}

	.slick-dots li button:before {
	    font-size: 12px;
	    opacity: 1;
	  	color: #E3F9F9;
	}

	.about__wrap {
	    max-width: none;
	    padding: 0px 15px;
	}

	.about {
	    background: none;
	    padding-bottom: 0px;
	}

	.about__title {
   		margin-bottom: 15px;
	} 

	.about__img {
	    display: block;
	    margin: 15px auto 0px;
	    width: 60%;
	}

	.benefits {
	    padding: 30px 15px;
	}

	.benefits__cont-variant-first {
		flex-direction: column;
	}

	.benefits__cont-variant-second {
		flex-direction: column-reverse;
	}

	.benefits__cont-variant-first .benefits__cont-text,
	.benefits__cont-variant-second .benefits__cont-text {
	    text-align: center;
	    margin: 0px 0px 10px 0px;
	}

	.benefits__cont {
	    margin-bottom: 50px;
	}

	.benefits__cont-text_white {
	    margin-bottom: 15px;
	}

	.benefits__text_sm {
    	font-size: 14px;
	}

	.benefits__button {
	    margin: 20px auto 0px;
	}

	.user {
	    padding: 30px 15px;
	}

	.user__title {
	    margin-bottom: 40px;
	}

	.user__list {
	    align-items: center;
	    flex-direction: column;
	}

	.user__item {
		margin-bottom: 30px;
	}

	.user__item:nth-child(3) {
		margin-bottom: 0px;
	}

	.user__img {
	    margin-bottom: 20px;
	}

	.user__accordeon-title {
	    margin: 100px 0px 30px 0px;
	}

	.contacts {
	    padding: 50px 15px 40px 15px;
	}

	.contacts__block {
	    flex-direction: column;
	    align-items: center;
	}

	.contacts__cont {
	    flex-direction: column;
	    text-align: center;
	}

	.contacts__soc-media {
	    max-width: 320px;
	    margin-bottom: 30px;
	    margin: 0px auto 30px;
	}

	.questions-contact__tel {
	    margin: 0px auto 20px;
	}

	.questions__contact {
	    margin: 0px auto 10px;
	    margin-bottom: 10px;
	}

	.contact__map-block {
		max-width: 768px;
		width: 100%;
		margin-top: 20px;
	}

	.contact__map {
		width: 100%;
		margin: 0px auto 30px;
	}

	.map__text {
	    font-size: 15px;
	    margin-bottom: 10px;
	    text-align: center;
	}
}

@media screen and (max-width: 576px) {
	.header {
		position: fixed;
		width: 100%;
		z-index: 20;	
	}

	/*.first__price {
		display: none;
	}*/

	.price__result {
	    text-align: center;
	}

	.header__logo {
	    margin: 7px 0px 0px 0px;
	}

	.nav-top {
	    top: 27px;
	}

	.first {
	    padding: 10px 15px 0px;
	}

	.first__block {
	    margin-top: 100px;
	}

	.first__text {
	    max-width: none;
	    width: 100%;
	    text-align: left;
	}

	.first__title {
	    font-size: 25px;
	    margin: 10px 0px;
	}

	.first__button-wrap {
		text-align: center;
		margin: 30px auto 0px;
		display: block;
	}

	.first__button {
		display: inline-block;
	}

	.tariffs {
	    margin: 80px 0px;
	    padding: 0px;
	}

	.card__title span {
	    font-size: 25px;
	    margin-top: 15px;
	}

	.card__cont {
	    padding: 20px 0px 40px 0px;
	}

	.card__text {
		font-size: 18px;
	}

	.card__button {
	    margin-top: 20px;
	    font-weight: 600;
	}

	.tariffs__card {
	    margin: 0px 2px 0px;
	}

	.responsive {
	    max-width: 270px;
	    margin: 0px auto 0px;
	    width: 100%;
	}

	.slick-dots {
	    bottom: -41px;
	}

	.tariffs {
	    margin: 80px 0px 111px;
	}

	.title-h2 {
	    font-size: 25px;
	}

	.about__title {
	   	margin-bottom: 20px;
	}

	.benefits__cont-text_white {
	    display: none;
	}

	.benefits__title {
	    margin-bottom: 10px;
	}

	.benefits__cont-title {
	    font-size: 25px;
	    margin-bottom: 10px;
	}

	.benefits__cont-pic-wrap {
	    max-width: 200px;
	}

	.benefits__cont {
	    margin-bottom: 40px;
	}

	.benefits__text_sm {
    	font-size: 15px;
	}

	.btn {
	    font-weight: 600;
	    font-size: 16px;
	    padding: 20px 40px;
	}

	.card__button {
	    padding: 15px 70px;
	}

	.benefits {
	    padding: 30px 15px 50px;
	}

	.benefits__button-wrap {
		margin: 0px auto;
		text-align: center;
	}

	.benefits__button {
		display: inline-block;
		max-width: none;		
	}

	.user {
	    padding: 80px 15px;
	}

	.panel-heading button {
	    font-size: 16px;
	    padding: 15px 53px 15px 15px;
	}

	.panel-collapse {
	    padding: 15px 15px;
	}

	.contacts {
	    padding: 40px 15px 30px 15px;
	}

	.soc-media__item img {
    	margin-bottom: 10px;
	}

	.contacts__title {
		font-size: 20px;
	    margin-bottom: 30px;
	}

	.questions__subtitle {
	    margin-bottom: 20px;
	}

	.questions__contact {
	    margin-bottom: 20px;
	}

	.contact__in {
		margin-bottom: 0px;
	}

	.contact__map {
		height: 200px;
	}

	.map-text {
		margin-top: -10px;
	}

	.map__text:nth-child(2) {
	    margin-bottom: 0px;
	}

	.contact__map-block {
	    height: 200px;
	    margin-bottom: 20px;
	}

	.footer {
	    padding: 20px 0px 20px 0px;
	    font-size: 15px;
	}

	.modal__show {
		padding: 0px 15px;
	}

	.panel-collapse {
	    padding: 0px;
	}

	.panel__title {
		text-align: center;
		margin-bottom: 15px;
	}

	.panel__content-link {
	    padding: 8px 20px;
	    margin-bottom: 10px;
	}

	.panel__content-text {
	    font-size: 14px;
	    margin-left: 10px;
	}

	.panel__content {
	    margin-bottom: 25px;
	    flex-direction: column;
	    text-align: center;
	}

	.panel__item {
		margin-bottom: 15px;
	}

	.panel, .panel-second {
	    margin-bottom: 0px;
	}

	.panel__content-text {
		margin-left: 0px;
	}

}

@media screen and (max-width: 480px) {
	.about__img {
	    width: 90%;
	}

	.benefits__cont-pic-wrap {
	    max-width: 165px;
	}

	.price__selects-wrap {
	    flex-direction: column;
	}	

	.price__select {
		width: 240px;
	}

	.price__selects {
	    margin-right: 0px;
	    margin-bottom: 20px;
	}

	.price__selects:nth-child(2) {
		margin-bottom: 0px;
	}

	.modal__cont {
	    padding: 0px 15px;
	}

	.modal__close {
    	top: 10px;
	}

	.form__input,
	.form__area,
	.form__input::placeholder {
	    font-size: 14px;
	}

	.form__input,
	.form__area {
	    padding: 10px 10px 10px 35px;
	}

	.form__area {
		padding: 10px;
	}

	.form__name,
	.form__tel,
	.form__mail,
	.form__day,
	.form__month {
	    background-position: 10px 4px;
	    background-size: 8% 78%;
	}	

	.form__submit {
	    font-size: 18px;
	}
}

@media screen and (max-width: 400px) {
	.about__img {
	    width: 100%;
	}	
}

@media screen and (max-height: 470px) {
	.nav-menu {
	    padding-top: 95px;
	}

	.nav-item {
	    margin: 0px auto 28px;
	}
}

@media screen and (max-height: 380px) {
	.nav-item {
	    margin: 0px auto 20px;
	}
}

@media screen and (max-height: 340px) {
	.nav-item {
	    margin: 0px auto 15px;
	}

	.nav-menu {
	    padding-top: 80px;
	}
}

@media screen and (max-height: 290px) {
	.nav-item {
	    margin: 0px auto 8px;
	}

	.nav-item:nth-child(1) {
		margin: 0px auto 12px;
	}

	.nav-menu {
	    padding-top: 70px;
	}
}



