body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

ul, li, nav {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

.logo__small-width {
	display: none;
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 9999999;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: blue;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #cdcdcd;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}

	/* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#menuToggle input:checked ~ span
	{
		overflow-y: hidden;
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}

	/*
	 * But let's hide the middle one.
	 */
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
		overflow-y: hidden;
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
	 * Ohyeah and the last one should go the other direction
	 */
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
		overflow-y: hidden;
	  transform: rotate(-45deg) translate(0, -1px);
	}

	/*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
	#menu
	{
	  position: absolute;
	  width: 300px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  background: #ededed;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	}

	/*
	 * And let's slide it in from the left
	 */
	#menuToggle input:checked ~ ul
	{
		overflow-y: hidden;
	  transform: none;
	}

	#menuToggle {
		display: none;
	}

	#menuToggle a:hover {
	    color: #0485CE;
	}

.header {
	background: url('../img/hd-img.jpg') no-repeat top center;
	width: 100%;
}

.header__wrapper {
	width: 1280px;
	margin: 0px auto;
}

.wrapper {
	width: 1110px;
	margin: 0px auto;
}

.menu__block {
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
	padding-bottom: 90px;
}

.menu__item {
	padding-top: 8px;
}


.menu__item a {
	color: white;
}

.item__logo {
	padding-top: 0px;
	margin-right: 214px;
}

.item__lg {
	padding-top: 11px;
	margin-left: 20px;
}

.header__cont {
	color: white;
	padding-bottom: 250px;
}

.header__title {
	width: 893px;
	font-size: 58px;
	font-weight: 700;
	margin-bottom: 32px; 
}

.subtitle__main-text {
	color: #0485CE;
	font-weight: 600;
	display: block;
	font-size: 38px;
	margin-bottom: 42px;
}

.subtitle__text {
	width: 542px;
	display: block;
	line-height: 32px;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 32px;
}

.header__price {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.price__block_first {
	color: #262626;
	margin-right: 76px;
}

.price__figure_first,
.price__figure_second {
	font-weight: 600;
	font-size: 38px;
	display: block;
}

.price__figure_second {
	color: #0485CE;
}

.header__button {
	margin-top: 60px;
	background: #0485CE;
	width: 270px;
	height: 80px;
	text-align: center;
	border: 2px solid #0485CE;
	color: white;
	font-size: 20px;
	cursor: pointer;
	transition: 0.7s all ease;
}

.header__button:hover {
	background: transparent;
	border: 2px solid #0485CE;
	color: #0485CE;
}

.video__title,
.control__title,
.capabilities__title {
	text-align: center;
	color: #262626;
	margin-top: 190px;
	font-weight: 600;
	letter-spacing: 0.1px;
	font-size: 38px;
	margin-bottom: 50px;
}

.video__cont {
	margin: 0px auto;
	display: block;
	text-align: center;
	margin-bottom: 190px;
}

.video__cont iframe {
	width: 100%;
	height: 650px;
}

.control {
	background: #F7F6F7;
}

.control__title {
	margin-bottom: 100px;
	padding-top: 67px;
}

.control__block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.control__cont {
	color: #262626;
	width: 535px;
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 67px;
	font-weight: normal;
}

.cont__title,
.capabilities__cont-title {
	position: relative;
	margin-bottom: 33px;
	font-size: 28px;
	font-weight: 500;
}

.cont__title::after,
.capabilities__cont-title::after {
	content: "";
	bottom: -8px;
	left: 2px;
	display: block;
	width: 77px;
	height: 2px;
	background: #0485CE;
	position: absolute;
}

.capabilities__cont-title::after {
	bottom: -15px;
	width: 92px;
}

.capabilities__title span {
	color: #0485CE;
}

.capabilities__title {
	margin-bottom: 112px;
}

.capabilities__block-right,
.capabilities__block-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.capabilities__cont-title {
	font-weight: 600;
	font-size: 38px;
	color: #262626;
	margin-bottom: 42px;
}

.capabilities__cont {
	color: #262626;
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 67px;
	margin-right: 112px;
	font-weight: normal;
}

.capabilities__cont-img {
	margin-right: 0px;
}

.capabilities__cont-left {
	margin-right: 0px;
	margin-left: 112px;
}

.goals__title {
	font-weight: 600;
	font-size: 38px;
	color: #262626;
	text-align: center;
	margin-top: 130px;
	position: relative;
}

.goals__title::after {
	content: "";
	bottom: -12px;
	left: 50%;
	margin-left: -83px;
	display: block;
	width: 166px;
	height: 1px;
	background: #0485CE;
	position: absolute;
}

.goals__text {
	text-align: center;
	font-size: 24px;
	color: #8F8F8F;
	font-weight: normal;
	width: 844px;
	margin: 0px auto;
	margin-bottom: 80px;
}

.goals__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 130px;
}

.goals__item {
	font-size: 24px;
	color: #8F8F8F;
	display: block;
	width: 330px;
	text-align: center;
	margin-bottom: 62px;
}

.goals__item img {
    display: block;
    margin: 0px auto;
    margin-bottom: 22px;
    background: #F7F6F7;
    border-radius: 100px;
}

.slider {
	color: #262626;
	margin-bottom: 180px;
}

.slider__item {
	background: #F7F6F7;
	padding: 38px;
}

.slider__text {
	width: 647px;
	font-weight: normal;
	font-size: 24px;
	line-height: 42px;
	margin-bottom: 22px;
}

.slider__user {
	background: url('../img/user-1.png') no-repeat left center;
	margin-top: 32px;
	padding: 22px 0px 22px 86px;
	font-size: 24px;
	font-weight: normal;
}

.slider__cont span {
	font-style: normal;
	color: #8F8F8F;
	display: block;
	margin-bottom: 10px;
}

.slider__cont {
	margin-bottom: 10px;
}

.slider__user span {
	display: block;
	font-size: 20px;
	color: #8F8F8F;
	font-weight: 500;
}

.owl-carousel {
  width: 786px;
  margin: 0px auto;
}

.owl-next span {
    background: #F7F6F7;
    padding: 12px 20px;
    border-radius: 100px;
    position: absolute;
    right: -72px;
    top: 320px;
    transition: 0.6s all ease;
}

.owl-prev span {
    background: #F7F6F7;
    padding: 12px 20px;
    border-radius: 100px;
    position: absolute;
    left: -72px;
    top: 320px;
    transition: 0.6s all ease;
}

.owl-next span:hover {
    background: #0485CE;
    color: white;
    padding: 12px 20px;
    border-radius: 100px;
    position: absolute;
}

.owl-prev span:hover {
    background: #0485CE;
    color: white;
}

.owl-dot {
  width: 8px;
  height: 8px;
  border: 1px solid #8F8F8F;
  margin-right: 10px;
  outline: none;
}

.owl-dot.active span {
	background: #0485CE !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid grey;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: white;
}

.footer {
	background: #F7F6F7;
	padding-bottom: 100px;
}

.footer__block {
	text-align: center;
	margin: 0px auto;
}

.footer__title {
	margin-bottom: 52px;
	font-size: 38px;
	font-weight: 600;
	padding-top: 100px;
	color: #0485CE;
}

.footer__text {
	font-size: 28px;
	color: #262626;
}

.footer__action {
	display: block;
	margin-top: 18px;
	font-size: 38px;
	font-weight: 600;
}

.footer__det {
	color: #0485CE;
}

.footer__text p {
	display: block;
}

.footer__text p {
	display: block;
	margin-top: 12px;
	color: #262626;
	font-size: 24px;
}

.blue {
	color: #0485CE;
	font-weight: 600;
	font-size: 28px;
}

.footer__free {
	display: block;
	color: #8F8F8F;
}

.grey {
	color: #8F8F8F;
}

.grey span {
	font-size: 28px;
	font-weight: 600;
}

.footer__button {
	margin-top: 52px;
}

@media screen and (max-width: 1200px) {
	.wrapper {
		width: 960px;
	}

	.item__logo {
	    margin-right: 0px;
	    padding-top: -2px;
	}

	.header__wrapper {
    	width: auto;
	}

	.header__title {
	    font-size: 52px;
	}

	.menu__item {
	    font-size: 18px;
	}

	.menu__item {
	    padding-top: 0px;
	}

	.item__logo a img {
		width: 90%;
	}

	.header__cont {
		padding-left: 20px;
	}

	.subtitle__main-text {
    	font-size: 35px;
	}

	.subtitle__text {
    	font-size: 23px;  
	}

	.video__title,
	.control__title,
	.capabilities__title {
    	font-size: 31px;
	}

	.control__cont {
	    width: 450px;
	    font-size: 22px;
	    line-height: 36px;
	    margin-bottom: 55px;
	}

	.cont__title,
	.capabilities__cont-title {
	    margin-bottom: 30px;
	    font-size: 26px;
	}

	.capabilities__cont img {
		width: 360px;
	}

	.capabilities__cont {
	    font-size: 22px;
	}

	.capabilities__block-right,
	.capabilities__block-left {
    	padding: 0px 20px;
	}

	.goals__title {
	    font-size: 35px; 
	}

	.goals__text {
	    font-size: 22px;
	}

	.goals__list {
    	justify-content: space-around;
	}

	.footer__title {
	    margin-bottom: 45px;
	    font-size: 35px;
	}

	.footer__text {
	    font-size: 25px;
	}

	.footer__action {
	    margin-top: 15px;
	    font-size: 35px;
	}
} 

@media screen and (max-width: 992px) {
	.header {
	    background-size: 100% 76%;
	    padding-bottom: 260px;
	}

	.wrapper {
		width: 720px;
	}

	.item__logo {
		width: 130px;
	}

	.item__lg {
	    margin-left: 0px;
	}

	.item__logo a img {
    	width: 100%;
	}

	.menu__item {
		font-size: 15px;
	}

	.menu__block {
	    padding-bottom: 50px;
	}

	.header__title {
	    font-size: 28px;
	    margin-bottom: 28px;
	    width: 485px;
	}

	.subtitle__main-text {
	    font-size: 21px;
	}

	.price__block_first {
	    margin-right: 20px;
	}

	.price__figure_first,
	.price__figure_second {
	    font-size: 34px;
	}

	.header__cont {
	    color: white;
	    padding-bottom: 0px;
	}

	.header__button {
	    margin-top: 30px;
	}

	.video__title,
	.control__title,
	.capabilities__title {
	    margin-top: -75px;
	    font-size: 24px;
	    margin-bottom: 25px;
	}

	.video__cont {
	    margin-bottom: 160px;
	}

	.control__cont img {
		width: 55px;
	}

	.cont__title,
	.capabilities__cont-title {
	    margin-bottom: 30px;
	    font-size: 24px;
	}

	.control__cont {
	    width: 340px;
	    font-size: 20px;
	    line-height: 36px;
	    margin-bottom: 55px;
	}

	.capabilities {
		padding-top: 140px;
	}

	.capabilities__title {
	    margin-top: -75px;
	    margin-bottom: 55px;
	}

	.capabilities__cont {
	    font-size: 20px;
	    line-height: 35px;
	    margin-bottom: 60px;
	    margin-right: 20px;
	}

	.capabilities__cont img {
	    width: 310px;
	}

	.capabilities__cont-left {
	    margin-right: 0px;
	    margin-left: 20px;
	}

	.goals__title {
	    font-size: 24px;  
	    margin-top: 90px;
	  
	}

	.goals__text {
	    font-size: 24px;
	    width: 662px;
	    margin-bottom: 60px;
	}

	.goals__item {
	    font-size: 19px;
	    width: 330px;
	    margin-bottom: 50px;
	}

	.goals__item img {
	    width: 95px;
	}

	.owl-carousel {
	  	width: 580px;
	  	margin: 0px auto;
	}

	.slider {
    	margin-bottom: 120px;
	} 

	.slider__text {
		width: auto;
	    font-size: 21px;
	    line-height: 35px;
	    margin-bottom: 22px;
	}

	.slider__user {
	    margin-top: 16px;
	}

	.footer__title {
	    margin-bottom: 25px;
	    font-size: 28px;
	}

	.footer__text {
	    font-size: 20px;
	}

	.footer__action {
	    margin-top: 15px;
	    font-size: 28px;
	}

	.footer__text p {
	    margin-top: 12px;
	    font-size: 22px;
	}

	.footer__text {
	    font-size: 20px;
	}
}

@media screen and (max-width: 768px) {
	.wrapper {
		width: 540px;
	}

	#menuToggle {
	    display: block;
	    position: relative;
	    top: 15px;
	    left: 15px;
	    width: 34px;
	    z-index: 9999999;
	    -webkit-user-select: none;
	    user-select: none;
	}

	.header__menu {
		display: none;
	}

	.logo__small-width {
		display: block;
		position: absolute;
		right: 15px;
		top: 15px;
		width: 130px;
	}

	.logo__small-width img {
		width: 100%;
	}

	.header__title {
	    margin-top: 80px;
	}

	.control__cont {
	    font-size: 20px;
	    line-height: 36px;
	    text-align: center;
	    margin-bottom: 55px;
	}

	.control__block {
	    justify-content: center;
	    align-items: center;
	}

	.cont__title::after {  
	    left: 50%;
	    margin-left: -38.5px;
	}

	.video__cont iframe {
	    width: 100%;
	    height: 390px;
	}

	.capabilities__block-right,
	.capabilities__block-left {
	    flex-direction: column;
	}

	.goals__text {
	    font-size: 22px;
	    width: 485px;
	    margin-bottom: 50px;
	}

	.goals__list {
	    margin-bottom: 80px;
	}

	.owl-carousel {
	    width: 445px;
	    margin: 0px auto;
	}

	.slider__item {
	    padding: 25px;
	}

	.slider__text {
	    font-size: 19px;
	    line-height: 28px;
	    margin-bottom: 15px;
	}

	.owl-prev span {
	    left: -51px;
	    top: 280px;
	}

	.owl-next span {
	    right: -51px;
	    top: 280px;
	}

	.subtitle__text {
	    width: 530px;
	}

	.footer__text {
	    font-size: 18px;
	}
}

@media screen and (max-width: 576px) {
	.wrapper {
		width: 100%;
	}

	.header {
	    background-size: cover;
	    padding-bottom: 70px;
	    text-align: center;
	}

	.header__title {
	    font-size: 21px;
	    margin-bottom: 20px;
	    margin-top: 0px;
	    width: auto;
	    padding: 80px 10px 0px 10px;
	}

	.header__cont {
	    padding-left: 0px;
	}

	.subtitle__main-text {
	    margin-bottom: 15px;
	}

	.subtitle__text {
    	width: auto;
    	font-size: 15px;
    	padding: 0px 10px;
	}

	.header__price {
	    justify-content: center;
	}

	.price__figure_first,
	.price__figure_second {
	    font-size: 30px;
	}

	.header__button {
	    width: 250px;
	    height: 70px;
	}

	.video__title,
	.control__title,
	.capabilities__title {
	    margin-top: 60px;
	    font-size: 18px;
	    margin-bottom: 20px;
	}

	.video__cont iframe {
	    width: 95%;
	    height: 210px;
	}

	.video__cont {
	    margin-bottom: 80px;
	}

	.control__block {
	    padding: 0px 10px;
	}

	.control__cont {
	    font-size: 18px;
	    line-height: 34px;
	    margin-bottom: 50px;
	}

	.cont__title,
	.capabilities__cont-title {
	    margin-bottom: 20px;
	    font-size: 18px;
	}

	.capabilities {
	    padding-top: 50px;
	}

	.capabilities__cont-title::after {
	    bottom: -8px;
	}

	.capabilities__title {
	    margin-top: 60px;
	    font-size: 18px;
	    margin-bottom: 40px;
	}

	.capabilities__cont {
	    font-size: 16px;
	    line-height: 28px;
	    margin-bottom: 60px;
	    margin-right: 20px;
	}

	.capabilities__cont img {
	    width: 280px;
	}

	.capabilities__cont-left {
	    margin-left: 0px;
	}

	.goals {
		padding: 0px 10px;
	}

	.goals__title {
	    font-size: 18px;
	    margin-top: 60px;
	}

	.goals__text {
	    font-size: 15px;
	    width: auto;
	    margin-bottom: 45px;
	}

	.goals__item {
	    font-size: 17px;
	    width: 330px;
	    margin-bottom: 50px;
	}

	.goals__list {
	    margin-bottom: 60px;
	}

	.slider__item {
	    padding: 10px;
	}

	.owl-carousel {
	    width: 90%;
	}

	.slider__text {
	    font-size: 15px;
	    line-height: 18px;
	}

	.slider__cont {
	    font-size: 15px;
	}

	.slider__user {
	    padding: 15px 0px 15px 86px;
	    font-size: 15px;
	}

	.slider__user span {
	    font-size: 15px;
	}

	.owl-theme .owl-nav {
	    margin-top: -10px;
	    text-align: center;
	    -webkit-tap-highlight-color: transparent;
	}

	.owl-next span {
	    display: none;
	}

	.owl-prev span {
	    display: none;
	}

	.footer {
	    padding-bottom: 60px;
	}

	.footer__title {
	    margin-bottom: 15px;
	    font-size: 20px;
	    padding-top: 60px;
	}

	.footer__text {
	    font-size: 15px;
	}

	.footer__action {
	    margin-top: 15px;
	    font-size: 18px;
	}

	.footer__text p {
	    margin-top: 12px;
	    font-size: 16px;
	}

	.blue {
	    font-size: 19px;
	}

	.grey span {
	    font-size: 19px;
	}

	#menu {
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    margin: -100px 0 0 -65px;
	    padding: 50px 25px 50px 50px;
	    text-align: center;
	    padding-top: 125px;
	    background: #ededed;
	    list-style-type: none;
	    -webkit-font-smoothing: antialiased;
	    transform-origin: 0% 0%;
	    transform: translate(-100%, 0);
	    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menuToggle {
	    position: fixed;   
	}
}